@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  @apply bg-gray-900;
}

/* Default Background */
.bg-default {
  background: linear-gradient(to top, #3a506b, #1c2541);
}

/* Sunny Background */
.bg-sunny {
  background: linear-gradient(to top, #f7b733, #fc4a1a);
}

/* Cloudy Background */
.bg-cloudy {
  background: linear-gradient(to top, #bdc3c7, #2c3e50);
}

/* Rainy Background */
.bg-rainy {
  background: linear-gradient(to top, #314755, #26a0da);
}

/* Add other weather conditions as needed */
/* .bg-snowy, .bg-night, etc. */
